h1,h2, h3, p {
    color: aliceblue;
}

nav {
    margin-top: 3em;
}

.banner ,.past{
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-top: 5em;
}


.banner> .imgbox  img.active, .past >.schoolbox > .eduinfor.active {
    opacity: 1;
}

.controls li:hover {
    background: #8f4a12;
}

.controls li:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 3px solid #111;
    border-bottom: 3px solid #111;
    transform: rotate(45deg);
}

.controls li:nth-child(2):before {
    transform: rotate(225deg);
}

@media screen and (min-width : 768px){
    body {
        background-color: black;
        width: 70%;
        margin: auto;
        max-width: 1400px;
    }  
    .firstpart {
        display: flex;
        
    }

    .part2 {
        display: flex;
    }

    .myskills {
        
        margin-top: 2em
    }

    .skillestdiv{
        width: fit-content;
    }

    .myskill {
        font-family: 'Poppins';
        font-size: x-large;
        font-weight: 600;
        color: aqua;
    }

    .theskill {
        width: 90%;
    }


    .text1 {
        margin-top: 4em
    }

    h1 {
        font-family: 'Poppins';
        font-size: larger;
        font-weight: 500;
    }
    
    h2 {
        font-family: 'Poppins';
        font-size: xxx-large;
        font-weight: 900;
    }
    
    p{
        font-family: 'Poppins';
        font-size: large;
        font-weight: 500;
    }

    .banner> .imgbox,
    .past> .schoolbox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-top: 6em;
    
    }

    .controls {
        position: absolute;
        top: 50%;
        transform: translate(-50%);
        right: 0;
        width: 80px;
    }

    .controls li {
        position: relative;
        width: 80px;
        height: 80px;
        background: #fff;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    
    }

    .banner> .imgbox  img, .past > .schoolbox > .eduinfor {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transition: 0.5s;
        background-position: center;
    }

    .recent {
    text-align: center;
    font-size: xxx-large;
    font-family: 'Circular-Loom';
    color: chocolate;
    }


    .workexp {
        margin-top: 10em;
    }

    .card {
        display: flex;
        margin-bottom: 3em;
        border: 1px solid brown;
        border-radius: 44px;
   }
   .img img {
    width: 88%;
    margin: 3% 0% 3% -4%;
    padding: 0% 0% 0% 10%;
   }

   .text {
    width: 45%;
    padding-left: 3em;
    text-align: center;
  }

  .eduinfor {
    display: flex;
  }

  .eduimage img {
    width: 110%;
    margin: -18% 2% 0% -5%;
    height: 50%;
  }

  .qualification {
    width: 86%;
    position: relative;
  }

  .past >.controls {
    position: absolute;
    top: 35%;
    transform: translate(-50%);
    right: 0;
    width: 80px;
    margin: -14% -14% 3% 3%;
}

  .past>.controls li {
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    
}
}



