h1,h2, h3, p {
    color: aliceblue;
}

nav {
    margin-top: 3em;
}

@media screen and (min-width : 768px){
    body {
        background-color: black;
        width: 80%;
        margin: auto;
    }  
    .firstpart {
        display: flex;
        
    }

    h1 {
        font-family: 'Poppins';
        font-size: larger;
        font-weight: 500;
    }

    h2 {
        font-family: 'Poppins';
        font-size: xxx-large;
        font-weight: 900;
    }

    p{
        font-family: 'Poppins';
        font-size: small;
        font-weight: 100;
    }

    .text1 {
        margin-top: 4em
    }
}

