h1,h2, h3, p {
    color: aliceblue;
}

nav {
    margin-top: 3em;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
}



.banner> .imgbox  img.active {
    opacity: 1;
}

.controls li:hover {
    background: #ffeb3b;
}

.controls li:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 3px solid #111;
    border-bottom: 3px solid #111;
    transform: rotate(45deg);
}

.controls li:nth-child(2):before {
    transform: rotate(225deg);
}

@media screen and (min-width : 768px){
    body {
        background-color: black;
        width: 70%;
        margin: auto;
        max-width: 1400px;
    }  
    .firstpart {
        display: flex;
        
    }

    .part2 {
        display: flex;
    }

    .myskills {
        
        margin-top: 2em
    }

    .skillestdiv{
        width: fit-content;
    }

    .myskill {
        font-family: 'Poppins';
        font-size: x-large;
        font-weight: 600;
        color: aqua;
    }

    .theskill {
        width: 90%;
    }

   

    .text1 {
        margin-top: 4em
    }

    h1 {
        font-family: 'Poppins';
        font-size: larger;
        font-weight: 500;
    }
    
    h2 {
        font-family: 'Poppins';
        font-size: xxx-large;
        font-weight: 900;
    }
    
    p{
        font-family: 'Poppins';
        font-size: large;
        font-weight: 500;
    }

    .banner> .imgbox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    
    }

    .controls {
        position: absolute;
        top: 50%;
        transform: translate(-50%);
        right: 0;
        width: 80px;
    }

    .controls li {
        position: relative;
        width: 80px;
        height: 80px;
        background: #fff;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    
    }

    .banner> .imgbox  img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transition: 0.5s;
        background-position: center;
    }
}

