
@media screen and (max-width : 768px){
    body {
        background-color: black;
        color: aliceblue;
    }  

   .responsive {
    width: 70%;
    height: auto;
    margin: -19px 0px 0px 61px
   } 

   .firstpart{

   }

   h1 {
    font-family: 'Poppins';
    font-size: larger;
    font-weight: 500;
}

h2 {
    font-family: 'Poppins';
    font-size: xx-large;
    font-weight: 900;
}

p{
    font-family: 'Arimo';
    font-size: small;
    font-weight: 100;
}

.text1 {
    text-align: center;
    position: relative;
    height: 6px;
}

.text1 > p {
    width: 75%;
    margin: auto;
    z-index: 10;
}

.myskill {
    font-family: 'Poppins';
    font-size: large;
    font-weight: 700;
    font-style: italic;
    color: aqua;
    text-align: center;
}

.part2 {
    width: 100%;
    margin: auto;
    text-align: center;
}

.theskill {
    font-weight: bold;
    width: 85%;
    text-align: center;
    margin: 0em 0em 0em 2em;
}

.imgbox  {
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 50%;
}
.controls {
    top: 50%;
    transform: translate(-50%);
    right: 0;
    width: 100%;
    padding: 23em 0em 0em 44em;
}

.controls li {
    width: 40px;
    height: 40px;
    background: #fff;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0% 0% 0% 86%;

}

.banner> .imgbox  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.5s;
    background-position: center;
    margin-top: 3.5em;
}

.recent {
    color: rgb(59, 29, 29);
    text-align: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

}